* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

a {
  text-decoration: none;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

.item {
  width: 940px;
  padding: 20px;
}

.item:nth-child(odd) {
  background-color: gray;
}

.box-group {
  width: 940px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: yellow;
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
}
